<nav>
  <a href="/">Home</a>
  <form method="get" action="/contacts/search" class="search-form">
    <input name="q" type="search" placeholder="search" value="<%= query %>" autofocus/>
    <input type="submit" style="display: none" />
  </form>
  <a href="/contacts/new">New Contact</a>
  <% if (session) { %>
    <a class="right-nav" href="/logout">Log Out</a>
  <% } %>
  <% if (!session) { %>
    <a class="right-nav" href="/login">Log In</a>
    <a class="right-nav" href="/signup">Sign Up</a>
  <% } %>
</nav>
