<%- include ../partials/header.ejs %>

  <h1>Log in</h1>

  <form method="post" action="/login" class="new-contact-form">
    <% if (typeof err == "undefined") { %>
    <% } else { %>
      <h4 class='new-contact-form-errors'>
        <%= err %>
      </h4>
    <% } %>
    <label>
      <span>User Name:</span>
      <input type="text" name="username" />
    </label>
    <label>
      <span>Password:</span>
      <input type="password" name="password" />
    </label>
    <input type="submit" value="Log In">
    <a href="/signup">Sign Up</a>
  </form>

  <%- include ../partials/footer.ejs %>